// body {
//     padding: 50px;
//     font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
//   }
  
//   a {
//     color: #00B7FF;
//   }

.home-content {
    margin-top: 200px;
    background: linear-gradient(45deg,#665fee 0%,#27c2de 100%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}